<%= form_for(graphic) do |f| %>
  <% if graphic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(graphic.errors.count, "error") %> prohibited this graphic from being saved:</h2>

      <ul>
      <% graphic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :index %>
    <%= f.text_field :index %>
  </div>

  <div class="field">
    <%= f.label :test %>
    <%= f.text_field :test %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
