<p id="notice"><%= notice %></p>

<h1>Graphics</h1>

<table>
  <thead>
    <tr>
      <th>Index</th>
      <th>Test</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @graphics.each do |graphic| %>
      <tr>
        <td><%= graphic.index %></td>
        <td><%= graphic.test %></td>
        <td><%= link_to 'Show', graphic %></td>
        <td><%= link_to 'Edit', edit_graphic_path(graphic) %></td>
        <td><%= link_to 'Destroy', graphic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Graphic', new_graphic_path %>
