<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @graphic.index %>
</p>

<p>
  <strong>Test:</strong>
  <%= @graphic.test %>
</p>

<%= link_to 'Edit', edit_graphic_path(@graphic) %> |
<%= link_to 'Back', graphics_path %>
